/* * {
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.formbox {
  position: relative;
  margin-bottom: 20px;
  .message {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -1px;
    position: absolute;
    bottom: -10px;
    left: 0;
    👉 &.success {
      color: #8f8c8b;
    }
    👉 &.error {
      color: #ff2727;
    }
  }
} */
a {
  text-decoration: none;
}
a:link {
  color: pink;
}
a:visited {
  color: black;
}
a:hover {
  color: red;
}
a:active {
  color: green;
}
