body {
  background: url("milkyway.jpg") no-repeat center;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
}

.login-wrapper {
  color: #000;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  font-size: 35px;
  text-align: center;
}

.login-wrapper::before {
  content: "";
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.login-input button {
  background: #166cea;
  display: block;
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  margin: 10px;
  cursor: pointer;
}

.login-input input {
  display: block;
  padding: 20px;
  width: 400px;
  height: 50px;
  margin: 20px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  color: #000;
  outline: none;
  padding: 10px 10px 10px;
  background-color: transparent;
}

.login-input label {
  position: absolute;
  left: 5px;
  top: 15px;
}

.login-input p {
  font-size: 15px;
}

.formbox .message {
  font-size: 15px;
}

.formbox .success {
  font-size: 15px;
  color: #000;
  display: flex;
  animation: warning 0.2s ease;
  animation-iteration-count: 3;
}

.formbox .error {
  font-size: 15px;
  color: red;
  display: flex;
  animation: warning 0.2s ease;
  animation-iteration-count: 3;
}
@keyframes warning {
  0% {
    transform: translateX(-8px);
  }
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
  75% {
    transform: translateX(8px);
  }
}

.caption {
  margin-top: 20px;
  font-size: 15px;
}

h2 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 40px auto;
  width: 300px;
  padding: 0;
}

ul li {
  display: inline-block;
  margin: 10px;
}

a {
  color: #000;
  text-decoration: none;
}
